@font-face {
    font-family: EN;
    src: url("ENC1.ttf");
}
@font-face {
    font-family: CN1;
    src: url("CNC1.ttf");
}    
 
html {
    min-width: 1470px;
	min-height: 600px;
    max-width: 1470px;
    max-height: 600px;
}

#L1{
    background-color: #66ccff;
    padding-top: 20px ;
    margin-top: -30px;
    padding-bottom: 10px;
    margin-left: -10px;
    width: 100%;
    position:fixed;
}
#L2{
    margin-left: 70px;
    color:white;
    font-family: CN1;
    font-size: 18pt;
}
#L3{
    color:white;
    font-family: EN;
    font-size: 10pt;
}
#L4{
    border-style:solid;
    border-width:medium;
    color:white;
    Margin-right: 45px;
    padding:10px;
    border-radius: 8px 8px 8px 8px;
}
#L5{
    color:white;
    font-family: EN;
    font-size: 10pt;
    text-decoration: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e0c0ea;
  border-color: black;
  min-width: 160px;
  box-shadow: 0px 18px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 10px;
  border-radius: 8px 8px 8px 8px;
  font-family: CN1;
  box-shadow: none;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover {
    background-color: #a4e0fa;
}

#L6{
    border-radius: 8px 8px 8px 8px;
    padding:30px;
    margin-top: 90px;
    margin-left: 50px;
    margin-bottom: 30px;
    background-color: #e0c0ea;
    width: 20%;
    height: 500px;
}
#L8{
    color:white;
    font-family: CN1;
    font-size: 15pt;
}

#L9{
    border-radius: 8px 8px 8px 8px;
    padding:30px;
    margin-top: 90px;
    margin-left: 50px;
    background-color: #f0c6c6;
    width: 63%;
    height: 200px;
}

#L11{
    border-radius: 8px 8px 8px 8px;
    padding:30px;
    margin-top: -290px;
    margin-left: 451px;
    background-color: #c3be80;
    height: 200px;
    width: 244px;
    color:white;
    font-family: CN1;
    font-size: 15pt;
}

#L12{
    border-radius: 8px 8px 8px 8px;
    padding:30px;
    margin-top: -290px;
    margin-left:786px;
    background-color: #89d19e;
    height: 200px;
    width: 244px;
}

#L13{
    border-radius: 8px 8px 8px 8px;
    padding:30px;
    margin-top: -290px;
    margin-left: 1121px;
    background-color: #57a3a3;
    height: 200px;
    width: 244px;
    color:white;
    font-family: CN1;
    font-size: 15pt;
}

#L14{
    margin-left: 15px;
    color:white;
    font-family: CN1;
    font-size: 12pt;
}

#L15{
    border-radius: 8px 8px 8px 8px;
    padding:30px;
    margin-top: 10px;
    margin-left:50px;
    background-color: #f86b6b;
    height: 200px;
    width: 290px;
    color:white;
    font-family: CN1;
    font-size: 12pt;
    text-decoration: none;
}

#L18{
    border-radius: 8px 8px 8px 8px;
    padding:30px;
    margin-top: 10px;
    margin-left:50px;
    background-color: #6a9de8;
    height: 200px;
    width: 916px;
    color:white;
    font-family: CN1;
    font-size: 14pt;
    text-decoration: none;
}
